<% provide(:title, @title) %>
<div class="row">
	<aside class="col-md-4 mb-3">

		<%= render "profile" %>


		<section class="mt-3">
			<%= render 'shared/stats' %>
		</section>

		<section>
			<%= link_to "view my profile", @user, class: "text-decoration-none small" %>
		  	<small>Rooms (<%= @user.rooms.count %>)</small>
		</section>
	</aside>

	<div class="col-md-8">
		<h5 class="fw-light"><%= @title %></h5>
		<% if @users.any? %>
			<ul class="users follow">
				<%= render @users %>

			</ul>
			<%= will_paginate %>
		<% end %>
	</div>
</div>