<% provide(:title, @user.name) %>
<div class="row">
	<aside class="col-md-4 mb-3">
		<section class="d-flex align-items-start">
		  <% if @user.avatar.attached? %>
		    <%= image_tag @user.avatar.variant(:profile), class: "me-2" %>
		  <% end %>
		  <h5 class="mb-0"><%= @user.name %></h5>
		</section>

		<div class="mt-3">
			<ul class="list-group">
				<li class="list-group-item border-0 p-0">
					<% if signed_in? && current_user.admin? %>
					<h6>
						<%= link_to "Users", users_path, class: "text-decoration-none fw-light" %>
						<small class="text-muted">(<%= User.activated.count %>)</small>
					</h6>
					<h6>
						<%= link_to "Rooms", rooms_path, class: "text-decoration-none fw-light" %>
						<small class="text-muted">(<%= Room.feed.count %>)</small>
					</h6>
					<% end %>
				</li>
			</ul>
		</div>
	</aside>

	<aside class="col-md-8">
		<h5 class="fw-light">Rooms (<%= @rooms.count %>)</h5>
		<%= render 'static_pages/rooms' %>
	</aside>
</div>