<% provide(:title, @room.name) %>
<div id="room-id" data-room-id="<%= @room.id %>"></div>

<div class="row">
	<div class="col-md-9 mb-3">

		<div class="pb-1 d-flex flex-column" style="height: 773px;">
			<div class="p-3 border-bottom">
			    <h5 class="mb-0"><%= @room.name %></h5>

			    <small class="mb-0 text-muted"><%= @room.info %></small>

			    <% if signed_in? && (current_user.admin? || current_user?(@room.host)) %>
				    <%= link_to "Delete", @room, class: "text-decoration-none small", data: { "turbo-method": :delete, turbo_confirm: "Are you sure?" } %>
			    <% end %>
			</div>

			<div class="flex-grow-1 overflow-auto p-3" id="messages">
				<% @room.messages.order(created_at: :asc).each do |message| %>
					<%= render 'messages/message', message: message %>
				<% end %>
			</div>

			<% if signed_in? %>
				<%= render "messages/form", message: Message.new, room: @room %>
			<% else %>
				<p class="text-center text-muted mt-2">Sign in to join this room</p>
			<% end %>
		</div>
	</div>
	<div class="col-md-3">
		<%= render "participants", room: @room %>
	</div>

</div>
